@mixin navbar__toggle-icon($classes, $toggleSettings) {
	// Global variables
	$orientation: map-get($toggleSettings, orientation);
	// Button element
	$buttonSizeSettings: map-get($toggleSettings, size);
	$buttonSize: if(
		type-of($buttonSizeSettings) == map,
		map-get($buttonSizeSettings, $orientation),
		$buttonSizeSettings
	);
	// Icon items
	$itemSize: map-get($toggleSettings, itemSize);
	$itemColour: map-get($toggleSettings, foreground);

	// Start building
	.#{map-get($classes, namespace) + map-get($classes, toggleIcon)} {
		background-color: if($itemColour, $itemColour, currentColor);
		border-radius: map-get($toggleSettings, itemRound);
		display: block;
		height: getSize($itemSize, height);
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%);
		transform-origin: center;
		width: getSize($itemSize, width);
		// Transition settings
		@if map-get($toggleSettings, activeType) == "single" {
			transform-duration: map-get($toggleSettings, activeTiming);
		}
		@if map-get($toggleSettings, activeType) == "cross" {
			@include toggle-icon-active-cross($toggleSettings, $classes);
		}
	}
}
