@import "navbar_init";

$settings: (
	classes: (
		namespace: "navbar",
		brand: "__brand",
		toggleButton: "__toggle-button",
		toggleIcon: "__toggle-icon",
		toggleActive: ".is-achtung",
		start: "__start",
		middle: "__middle",
		end: "__end",
		list: "__list",
		link: "__link"
	),
	background: red,
	color: white,
	height: 40px,
	linkpadding: 10px,
	linkmargin: 10px,
	itempadding: 10px,
	itemmargin: 10px,
	toggle: (
		background: currentColor,
		foreground: #000,
		size: (
			height: 40px,
			width: 40px
		),
		round: 50%,
		hide: 600px,
		orientation: height,
		itemCount: 4,
		itemSize: (
			height: 1px,
			width: 20px
		),
		itemGap: 3px,
		itemRound: 1px,
		itemWidth: 20px,
		activeType: cross,
		activeTiming: 300ms
	),
	endnav: true,
	startnav: true
);

@include navbar($settings);
