@mixin navbar__lists($classes, $startnav, $midnav, $endnav) {
	// Common properties
	%list {
		display: flex;
		list-style: none;
		flex-direction: row;
	}

	@if $startnav {
		.#{ map-get($classes, namespace) + map-get($classes, start) } {
			@extend %list;
		}
	}

	@if $midnav {
		.#{ map-get($classes, namespace) + map-get($classes, middle) } {
			@extend %list;
		}
	}

	@if $endnav {
		.#{ map-get($classes, namespace) + map-get($classes, end) } {
			@extend %list;
		}
	}
}