@mixin navbar__item($classes, $itemSettings) {
	.#{map-get($classes, namespace) + map-get($classes, item)} {
		display: inline-flex;
		$margin: map-get($itemSettings, margin);
		margin: map-get($margin, height) map-get($margin, width);
		$padding: map-get($itemSettings, padding);
		padding: map-get($padding, height) map-get($padding, width);
	}
}
