@mixin navbar__link($classes, $linkSettings) {
	.#{map-get($classes, namespace) + map-get($classes, link)} {
		display: inline-flex;
		margin: setSizing(map-get($linkSettings, margin));
		padding: setSizing(map-get($linkSettings, padding));
	}
}
