@mixin navbar__toggle-button($classes, $toggleSettings, $settings) {

	$breakpoint:   map-get($toggleSettings, hide);
	$buttonSize:   map-get($toggleSettings, size);
	$buttonColour: map-get($toggleSettings, background);

	.#{ map-get($classes, namespace) + map-get($classes, toggleButton) } {
		background: if($buttonColour, $buttonColour, currentColor);
		border-radius: map-get($toggleSettings, round);
		cursor: pointer;
		display: block;
		height: getSize($buttonSize, height);
		margin-left: auto;
		position: relative;
		width: getSize($buttonSize, width);
		@if $breakpoint {
			@media screen and (min-width: $breakpoint){
				display: none;
			}
		}
	}
}