//----------------------------------------------------
//  Toggle item transforms for active state
//----------------------------------------------------
@mixin burger-item-transforms-active($toggleSettings, $i, $ns) {
	@if map-get($toggleSettings, activeType) == cross {
		@include burger-active-cross($toggleSettings, $i, $ns);
	}
	@if map-get($toggleSettings, activeType) == single {
		@include burger-active-single($i, $ns);
	}
}

@mixin burger-active-single($i, $ns) {
	.#{$ns+__burger}.is-active &:nth-child(#{$i + 1}) {
		transform: translate(0);
	}
}

@mixin burger-active-cross($toggleSettings, $i, $ns) {
	// First item
	@if $i == 0 {
		.#{$ns+__burger}.is-active &:nth-child(#{$i + 1}) {
			transform: translate(0) rotate(45deg);
		}
	}
	// Last item
	@else if $i == (map-get($toggleSettings, itemCount) - 1) {
		.#{$ns+__burger}.is-active &:nth-child(#{$i + 1}) {
			transform: translate(0) rotate(-45deg);
		}
	}
	// Fade out the rest
	@else {
		.#{$ns+__burger}.is-active &:nth-child(#{$i + 1}) {
			opacity: 0;
			transform: translate(0);
		}
	}
}