$classes: (
	namespace: "navbar",
	brand: "__brand",
	toggleButton: "__toggle",
	toggleIcon: "__toggle-icon",
	toggleActive: ".is-active",
	wrapper: "__menu",
	start: "__start",
	middle: "__middle",
	end: "__end",
	list: "__list",
	item: "__item",
	link: "__link",
	text: "__text"
);
